<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>We have worked on your file. New file available for download by this link.</p>
<p>http://localhost:3000/newDataFile.xlsx</p>
<p>OR</p>
<p>http://localhost:3000/newDataFile.xlsx?secret=o_O</p>
<p>OR</p>
<p>Use this button</p>
<form method="GET" action="/downloadNewFile" enctype="multipart/form-data">
    <button type="submit" value="Download this file">Download this file</button>
</form>
</body>
</html>