<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta charset="utf-8" />
</head>
<body>
<p>
    Please choose a file to upload to Database
</p>
<form method="POST" action="/" enctype="multipart/form-data">
<input type="file" name="file" />
<button type="submit" value="Upload">Upload</button>
</form>
<form method="POST" action="/uploadTextFile" enctype="multipart/form-data">
        <p>
            If this is a text file (.xlsx, or .csv - others extensions has not been tested yet) file and you want
        </p>
        <p>
            to make this app work on this file - please click up here!
        </p>
        <input type="file" name="file" />
        <button type="submit" value="Upload text file">Upload text file</button>
</form>
</body>
</html>